APP_NAME="SM HAIR DESIGN"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smhairde_db
DB_USERNAME=root
DB_PASSWORD=
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_OWNER_USER_ID=
LINE_ADMIN_USER_IDS=
LINE_OA_ADD_FRIEND_URL=
GHOSTX_SLIP_VERIFY_URL=https://externalauth.ghostxapi.xyz/qr/scan
GHOSTX_SLIP_VERIFY_TIMEOUT=20
